// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.


// Colours
$base-color: #E30203;
$complimentary-green: #02B602;
$triad-green: #8ED402;
$complimentary-blue-1: #3BA7A7;
$complimentary-blue-2: #1B9898;
$light-blue: #3399ff;
$grey: #333333;
$grey-pink: #ffcccc;
$dark-grey: #333333;
